name: 15-Minute Schedule

on:
  schedule:
    - cron: '*/15 * * * *'
  workflow_dispatch:

jobs:
  ping-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger Bot Cron
        run: curl -X POST https://telegram-quick-bible.vercel.app/api/cron
